{% extends "layouts/new-nav.html" %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block pageTitle %}
Confirm connect – Connect to a record
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

 <span class="govuk-caption-l">Record management</span>
      <h1 class="govuk-heading-l">Check details before connecting this GOV.UK One Login account to a record</h1>


       <h2 class="govuk-heading-s">GOV.UK One Login details</h2>
           
<dl class="govuk-summary-list govuk-!-padding-bottom-2">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Email address
    </dt>
    <dd class="govuk-summary-list__value">
    dennis.berkamp@test.gov.uk
    </dd>
    
  </div>
</dl>   

        <!-- Record A -->
        <div id="Record A summary" class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
             Record details
            </h2>
          <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="#">View record (opens in a new tab)<span class="govuk-visually-hidden">Record A</span></a>
              </li>  
            </ul> 
          </div>
          <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Dennis Berkamp
          </dd>
        </div>
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Previous names
          </dt>
          <dd class="govuk-summary-list__value">
           Dennis Blueford
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email adress
          </dt>
          <dd class="govuk-summary-list__value">
              dennis.berkamp@test.gov.uk
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            15 August 1990
          </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            TRN
          </dt>
          <dd class="govuk-summary-list__value">
            09765421
          </dd>
        </div>


        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            National Insurance number
          </dt>
          <dd class="govuk-summary-list__value">
            QQ 12 34 56 C 
            <mark class="hods-highlight">
              <strong></strong></mark>
          </dd>
        </div>
      </dl>
          </div>
        </div>

          </div>

<div class="govuk-grid-column-two-thirds">


  <form action="list-success">
  <div class="govuk-button-group">
     <button type="submit" class="govuk-button">Confirm and connect account</button>
         <a href="javascript:window.history.back()" class="govuk-button govuk-button--secondary">Cancel</a>
    </div>
    
    </div>
</form>


<!-- Ensure GOV.UK Frontend JS is initialised -->
<script src="/govuk-frontend/govuk/all.js"></script>
<script>
  window.GOVUKFrontend.initAll()
</script>
{% endblock %}
