{% extends "layouts/new-nav.html.html" %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block pageTitle %}
Confirm connect – Connect to a record
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

 <span class="govuk-caption-l">Record management</span>
      <h1 class="govuk-heading-l">Why are you not connecting this GOV.UK One Login account to a record?</h1>
      <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">Warning</span>
    There are multiple records that might match this GOV.UK One Login account. Only continue if you’re sure it should not be connected.
  </strong>
</div>


     <div class="govuk-form-group">

    <div class="govuk-radios" data-module="govuk-radios">

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="reason-mismatch" name="rejectReason" type="radio" value="mismatch">
        <label class="govuk-label govuk-radios__label" for="reason-mismatch">
          There is no matching record
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="reason-no-record" name="rejectReason" type="radio" value="no-record">
        <label class="govuk-label govuk-radios__label" for="reason-no-record">
          The details only partly match a record
        </label>
      </div>

      <!-- Another reason with conditional textarea -->
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="reason-other" name="rejectReason" type="radio" value="other" data-aria-controls="conditional-reason-other">
        <label class="govuk-label govuk-radios__label" for="reason-other">
          Another reason
        </label>
      </div>

      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-reason-other">
        <div class="govuk-form-group">
          <label class="govuk-label" for="otherReasonText">
           Enter details
          </label>
          <textarea class="govuk-textarea" id="otherReasonText" name="otherReasonText" rows="7"></textarea>
        </div>
      </div>

    </div>
  </fieldset>
</div>



  <form action="task-view-no-match">
  <div class="govuk-button-group">
     <button type="submit" class="govuk-button">Continue</button>
         <a href="javascript:window.history.back()" class="govuk-button govuk-button--secondary">Cancel</a>
    </div>
    </form>
    </div>
</form>


<!-- Ensure GOV.UK Frontend JS is initialised -->
<script src="/govuk-frontend/govuk/all.js"></script>
<script>
  window.GOVUKFrontend.initAll()
</script>
{% endblock %}
