{% extends "layouts/new-nav.html.html" %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block pageTitle %}
 GOV.UK One Login &ndash; Connect to a record
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

<!-- Detects which scenarion user clicked on from https://trs-post-mvp-6853f9a5ac29.herokuapp.com/onelogin/_screen-index
<p>
    ID verified? {{ data['Verified'] }}
<br>
    Matches returned? {{ data['MatchReturned'] }}
</p>
 -->

  <span class="govuk-caption-l">Record management</span>
     <h1 class="govuk-heading-l"> Check if this GOV.UK One Login account matches an existing record</h1>

<div class="govuk-inset-text govuk-!-width-two-thirds">
  <p class="govuk-body">Differences are <mark class="hods-highlight"><strong>highlighted</strong></mark> in the existing record</p>
</div>

</div>

  </div>

         <div class="govuk-grid-row">

          <div class="govuk-grid-column-one-half">
            <div class="govuk-summary-card trs-potential-duplicates__item" data-testid="match" data-personid="2c7b6ab6-6af4-4a1c-8f92-8b7dd6bea853">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">
        Request details
      </h2>
    
    </div>

  <div id="record-A" class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email adress
        </dt>
        <dd class="govuk-summary-list__value">
          	dennis.berkamp@test.gov.uk
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          First name
        </dt>
        <dd class="govuk-summary-list__value">
          Dennis
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Last name
        </dt>
        <dd class="govuk-summary-list__value">
          Berkamp
        </dd>
      </div>

            <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          TRN
        </dt>
        <dd class="govuk-summary-list__value">
          09765421
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of birth
        </dt>
        <dd class="govuk-summary-list__value">
          15 August 1990
        </dd>
      </div>
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          NI number
        </dt>
        <dd class="govuk-summary-list__value">
         QQ 12 34 56 C 
        </dd>
      </div>
    </dl>
  </div>


</div>


          
          </div>
    </div> 

          
    <div class="govuk-grid-row">

          <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-m">Potential matches</h2>
            <div id="record-A" class="govuk-summary-card trs-potential-duplicates__item" data-testid="match" data-personid="2c7b6ab6-6af4-4a1c-8f92-8b7dd6bea853">
              

              
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">
        Record A
      </h2>
      <div class="govuk-summary-card__actions">
        <a class="govuk-link" href="/persons/2c7b6ab6-6af4-4a1c-8f92-8b7dd6bea853" target="_blank">
                                          View record (opens in a new tab)
                                      <span class="govuk-visually-hidden"> (
                                        Record A
                                    )</span></a>
      </div>
    </div>

  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email adress
        </dt>
        <dd class="govuk-summary-list__value">
          	dennis.berkamp@test.gov.uk
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          First name
        </dt>
        <dd class="govuk-summary-list__value">
          Dennis
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Last name
        </dt>
        <dd class="govuk-summary-list__value">
          Berkamp
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Previous names
        </dt>
        <dd class="govuk-summary-list__value">
           <mark class="hods-highlight">
            <strong>Dennis Blueford</strong>
          </mark>
        </dd>
      </div>
            <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          TRN
        </dt>
        <dd class="govuk-summary-list__value">
          09765421
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of birth
        </dt>
        <dd class="govuk-summary-list__value">
          15 August 1990
        </dd>
      </div>
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          NI number
        </dt>
        <dd class="govuk-summary-list__value">
          QQ 12 34 56 C 
          <mark class="hods-highlight">
            <strong></strong></mark>
        </dd>
      </div>
    </dl>
  </div>

</div>

            <div id="record-B" class="govuk-summary-card trs-potential-duplicates__item" data-testid="match" data-personid="2c7b6ab6-6af4-4a1c-8f92-8b7dd6bea853">
              

              
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">
        Record B
      </h2>
      <div class="govuk-summary-card__actions">
        <a class="govuk-link" href="/persons/2c7b6ab6-6af4-4a1c-8f92-8b7dd6bea853" target="_blank">
        View record (opens in a new tab)
        <span class="govuk-visually-hidden"> (
          Record A
      )</span></a>
      </div>
    </div>

  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email adress
        </dt>
        <dd class="govuk-summary-list__value">
          <mark class="hods-highlight">
            <strong>d.berkamp@icloud.com</strong>
          </mark>
          	
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          First name
        </dt>
        <dd class="govuk-summary-list__value">
          Dennis
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Last name
        </dt>
        <dd class="govuk-summary-list__value">
          <mark class="hods-highlight">
            <strong>Blueford</strong>
          </mark>
          
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Previous names
        </dt>
        <dd class="govuk-summary-list__value">
         Not applicable
        </dd>
      </div>
            <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          TRN
        </dt>
        <dd class="govuk-summary-list__value">
             <mark class="hods-highlight">
            <strong>1234575</strong>
          </mark>
          
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of birth
        </dt>
        <dd class="govuk-summary-list__value">
          15 August 1990
        </dd>
      </div>
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          NI number
        </dt>
        <dd class="govuk-summary-list__value">
          <mark class="hods-highlight">
            <strong>UU 98 76 54 E </strong></mark>
        </dd>
      </div>
    </dl>
  </div>

</div>


  
          </div>
    </div>
    <div class="govuk-grid-row">
  
      <div class="govuk-grid-column-two-thirds">

      

<!-- Foram action set on routes.js -->
<form method="post" novalidate action="/match-teacher-id">
  <fieldset class="govuk-fieldset govuk-!-margin-bottom-6">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m"> What do you want to do with the GOV.UK One Login account? </legend>

<!-- Detects which scenarion user clicked on from https://trs-post-mvp-6853f9a5ac29.herokuapp.com/onelogin/_screen-index
<p>
    ID verified? {{ data['Verified'] }}
<br>
    Matches returned? {{ data['MatchReturned'] }}
</p>
 -->

    <div class="govuk-radios" data-module="govuk-radios">

      
         <!-- YES option - connect to suggested match -->
      <div class="govuk-radios__item"> <input class="govuk-radios__input" id="connect-yes" name="connect" type="radio"
          value="yes">
           <label class="govuk-label govuk-radios__label" for="connect-yes"> 
           Connect it to Record A
        </label>
     </div> 

     <div class="govuk-radios__item"> <input class="govuk-radios__input" id="connect-yes2" name="connect" type="radio"
          value="b">
           <label class="govuk-label govuk-radios__label" for="connect-yes2"> 
            Connect it to Record B
        </label>
     </div> 
   
    <!-- NO option - don't connect at all -->
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="connect-no" name="connect" type="radio" value="no">
      <label class="govuk-label govuk-radios__label" for="connect-no">
      Do not connect it to a record
      </label>
    </div>
  
    </div>
   
    </fieldset>
 


      
  <div class="govuk-button-group">
     <button type="submit" class="govuk-button">Continue</button>
         <a href="javascript:window.history.back()" class="govuk-button govuk-button--secondary">Cancel</a>
    </div>
    </form>
    </div>
</form>



<!-- Ensure GOV.UK Frontend JS is initialised -->
<script src="/govuk-frontend/govuk/all.js"></script>
<script>
  window.GOVUKFrontend.initAll()
</script>
{% endblock %}
