{% extends "layouts/new-nav.html.html" %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block pageTitle %}
 GOV.UK One Login &ndash; Connect to a record
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

  <span class="govuk-caption-l">Record management</span>
     <h1 class="govuk-heading-l">We cannot find a record that matches this GOV.UK One Login account</h1>

</div>

   <div class="govuk-grid-column-one-half">
    <p>
   You’ve verified Dennis Berkamp's identity, but we could not match their details to an existing teaching record.
 <br><br>
We’ll send them the email below to help them check their details and find out what they can do next.
    </p>
   <div class="govuk-inset-text">
 Dear Dennis Berkamp,
<br><br>
We’ve checked your details, but we could not find a teaching record that matches the information on your GOV.UK One Login account.
<br><br>
You should check that the details on your GOV.UK One Login account are correct.
<br><br>
If you still need help, email us at [email address]
<br><br>
Kind regards,
Department for Education
</div>
    <form action="list-no-matches.html">
    <div class="govuk-button-group govuk-!-margin-top-9">
     <button type="submit" class="govuk-button">Send email</button>
    <a href="javascript:window.history.back()" class="govuk-button govuk-button--secondary">Cancel</a>
    </div>
          </div>
 </form>
       

<!-- Ensure GOV.UK Frontend JS is initialised -->
<script src="/govuk-frontend/govuk/all.js"></script>
<script>
  window.GOVUKFrontend.initAll()
</script>
{% endblock %}
