{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

{% set Verified = "" %}
{% set MatchReturned = "" %}
{% set Connect = "" %}

<!-- <p>
    ID verified? {{ data['Verified'] }}
<br>
    Matches returned? {{ data['MatchReturned'] }}
</p> -->


<h1 class="govuk-heading-l">
GOV.UK OneLogin - revision of existing screens
  </h1>


  <p>December 2025</p>

  <p>
    <a href="https://lucid.app/lucidspark/2f664d8d-6140-4407-9847-0e28a0fc9c04/edit?viewport_loc=-3231%2C-3723%2C19905%2C9683%2C0_0&invitationId=inv_f861a7be-4394-4976-b653-c2310732de27" target="blank">Lucid board</a>
    <br>
    <a href="https://www.figma.com/design/jyjMrGDo6Af79dPXkGwh4t/TRS-Console?node-id=3329-733&p=f&t=CXn9hN2JdMGAG0eD-0" target="blank">Original Figma file</a>
<br>
 <a href="https://www.figma.com/design/t06zmKWvfH8kO9mEX49gdi/One-Login--TRS-?node-id=22334-8067" target="blank">Updated designs on figma</a>
  </p>


   
<br><br>
     <p>
      <br>
     Most iterations done, a few CD changes and input pending confirmation.
    </p>
    <!-- ID VERIFICATION -->
     <table class="govuk-table ">
     <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" colspan="2"><strong>ID verification</strong></td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="id-verification/console-dashboard?Verified=yes&MatchReturned=yes">Scenario A: ID verified, potential record matches returned (internal users 'Area 3')</a></td>
      <td class="govuk-table__cell">
          <p class="govuk-!-margin-top-2">
        In this scenario a person's ID is verified, and it covers both users choosing to connect (subscenario 1) or not connect (subscenario 2) account to record matches available.<br>
        <!-- <br>On the ID verification screen under 'Can you verify this person's identity?' user selects ‘Yes, find a matching record’ > proceeds to viewing matching records available. -->
        </p>
      <strong>Subscenario 1: user choses to connect record</strong>
      <p class="govuk-!-margin-top-2">
        On the <a href="id-verification/task-view-match-multi?">matching records page</a> user selects ‘Connect it to [Record A]’  
       </p>
    

   <strong>Subscenario 2: user choses not to connect record</strong>
      <p class="govuk-!-margin-top-2">
      On the <a href="id-verification/task-view-match-multi?">matching records page</a> user selects ‘Do not connect it to a record’  
       </p>
  
       <br>
      <strong>Updated design for page displaying only single match </strong>
      
      <p class="govuk-!-margin-top-2">
      Stacked up layout for when there's only <a href="id-verification/task-view-match">one potential match</a>, to bring consistency with multiple matches scenario.
      </p>

      </td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="id-verification/console-dashboard?Verified=yes&MatchReturned=no">Scenario B: ID verified, no potential record matches (internal users 'Area 4')</a></td>
      <td class="govuk-table__cell">In this scenario person's ID can be verified but there are no records that match the OneLogin account</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a href="id-verification/console-dashboard?Verified=no&MatchReturned=no">Scenario C: ID can't be verified (internal users 'Area 5')</a></td>
      <td class="govuk-table__cell">In this scenario ID cannot be verified so request is rejected </td>
    </tr>

</table>

 
{% endblock %}
