{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}


<h1 class="govuk-heading-l">
GOV.UK OneLogin - revision of existing screens
  </h1>


  <p>November 2025</p>

  <p>
    <a href="https://lucid.app/lucidspark/2f664d8d-6140-4407-9847-0e28a0fc9c04/edit?viewport_loc=-3231%2C-3723%2C19905%2C9683%2C0_0&invitationId=inv_f861a7be-4394-4976-b653-c2310732de27" target="blank">Lucid board</a>
    <br>
    <a href="https://www.figma.com/design/jyjMrGDo6Af79dPXkGwh4t/TRS-Console?node-id=3329-733&p=f&t=CXn9hN2JdMGAG0eD-0" target="blank">Original Figma file</a>
  </p>

  <table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Link</th>
      <th scope="col" class="govuk-table__header">Description</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">

    <!-- ONELOGIN -->
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" colspan="2"><strong>Fixed screens from OneLogin - for reference</strong></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="fixed/oli-start">Start page</a></td>
      <td class="govuk-table__cell">Start page of OneLogin</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="fixed/create-account/check-email">Create account journey</a></td>
      <td class="govuk-table__cell">Create account</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="fixed/sign-in/enter-password">Sign into OneLogin</a></td>
      <td class="govuk-table__cell">Sign in journey</td>
    </tr>
    </tbody>
    </table>
   
<br><br>
     <p>
      <i>6 Nov 20205</i>
      <br>
      <br>
     All screens are in place but may need some CD changes pending confirmation on requirements on change reasons.
    </p>
    <!-- ID VERIFICATION -->
     <table class="govuk-table">
     <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" colspan="2"><strong>ID verification</strong></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="id-verification/list">List</a></td>
      <td class="govuk-table__cell">List of change request
        <br>
        Request is set up for "Dennis Berkamp"
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="id-verification/task-view-verify">Verify</a></td>
      <td class="govuk-table__cell">Verify the person's ID</td>
    </tr>
        <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="id-verification/confirm-verification">Confirm verification</a></td>
      <td class="govuk-table__cell">Check your answers: Confirm verification</td>
    </tr>

     <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="id-verification/reject-request">Reject reasons</a></td>
      <td class="govuk-table__cell">Reasons for rejecting verification request</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="id-verification/confirm-reject-verification">Confirm reject</a></td>
      <td class="govuk-table__cell">Check your answers: Reject request</td>
    </tr>

        <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="id-verification/list-success-rejected">List (confirm reject)</a></td>
      <td class="govuk-table__cell">List of tasks with success banner for rejecting verification request</td>
    </tr>


            <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="id-verification/task-view-match">Review match</a></td>
      <td class="govuk-table__cell">Review match: 1 matching record found</td>
    </tr>
     <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="id-verification/task-view-match-multi">Review match multi</a></td>
      <td class="govuk-table__cell">Review match: multiple matching records found</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="id-verification/task-view-no-match">no match</a></td>
      <td class="govuk-table__cell">Task view when no match is found</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="id-verification/confirm-connect">Confirm connect</a></td>
      <td class="govuk-table__cell">Confirm connecting record</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="id-verification/confirm-do-not-connect">Confirm do not connect</a></td>
      <td class="govuk-table__cell">Confirm choosing not to connect record</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="id-verification/do-not-connect-reason">Do not connect reason</a></td>
      <td class="govuk-table__cell">Selecting reason for not connecting record</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="id-verification/list-success">List (success)</a></td>
      <td class="govuk-table__cell">Shows success banner after completing connect</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="id-verification/list-success-do-not-connect">List success (do not connect)</a></td>
      <td class="govuk-table__cell">List view after confirming not to connect record</td>
    </tr>
</tbody>
    </table>

    <br>
    <br>


    <p>
      <i>6 Nov 20205</i>
      <br>
      <br>
      These designs have been discussed with the team but need to be revised following latest requirements.
    </p>
    <!-- UNABLE TO CONNECT -->
     <table class="govuk-table">
     <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" colspan="2"><strong>Unable to connect</strong></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="unable-to-connect/list">List</a></td>
      <td class="govuk-table__cell">List of change requests</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="unable-to-connect/task-view-1-match">1 match</a></td>
      <td class="govuk-table__cell">Task view for a single potential match</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="unable-to-connect/task-view-multi-match">Task view: multiple matches</a></td>
      <td class="govuk-table__cell">Task view when multiple possible records exist</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="unable-to-connect/confirm-connect">Confirm connect</a></td>
      <td class="govuk-table__cell">Confirm connecting the user to an existing record</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="unable-to-connect/confirm-do-not-connect">Confirm do not connect</a></td>
      <td class="govuk-table__cell">Confirm not connecting the user to a record</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="unable-to-connect/confirm-do-not-connect-multi-match">Confirm do not connect (multi-match)</a></td>
      <td class="govuk-table__cell">Confirm not connecting when multiple matches found</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="unable-to-connect/confirm-do-not-connect-no-record">Confirm do not connect (no record)</a></td>
      <td class="govuk-table__cell">Confirm not connecting because no record exists</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="unable-to-connect/do-not-connect-reason">Do not connect reason</a></td>
      <td class="govuk-table__cell">Provide a reason for not connecting record</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="unable-to-connect/list-success">List success</a></td>
      <td class="govuk-table__cell">List view showing success banner after an action</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="unable-to-connect/list-success-do-not-connect">List success (do not connect)</a></td>
      <td class="govuk-table__cell">List view showing success after not connecting a record</td>
    </tr>
  </tbody>
</table>

<br><br>

<table class="govuk-table">
     <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" colspan="2"><strong>Ideation</strong></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="ideation/new-tile">Ideation: new tile</a></td>
      <td class="govuk-table__cell">Very high level ideation adding a new 'my tasks' tile so users have a place to see all tasks assigned to them.</td>
    </tr>
   </tbody>
</table>
         
  
{% endblock %}
