{% extends "layouts/new-nav.html.html" %}

{% block pageTitle %}
  We cannot find your teaching record
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-notification-banner govuk-notification-banner--important" role="region" aria-labelledby="connect-fail-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="connect-fail-title">Find your teaching record</h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h1 class="govuk-notification-banner__heading">We cannot find your teaching record or you might not have one</h1>
          <p class="govuk-body">We could not match your details to a teaching record.</p>
          <h2 class="govuk-heading-m">What you can do next</h2>
          <p class="govuk-body">Check your answers. If they are correct, you can send a support request to help us find your teaching record.</p>
          <p class="govuk-body">We will review your details and contact you if we need more information.</p>
          {{ govukButton({
            text: "Check your answers",
            href: "/onelogin-citizens/check-your-details-support-request"
          }) }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
