{% extends "task-visibility-access-permissions-mvp/admin/layout.html" %}

{% block pageTitle %}Add a user – Teaching Record System – GOV.UK{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/task-visibility-access-permissions-mvp/admin/users">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if errorMessage %}
        <div class="govuk-error-summary" data-module="govuk-error-summary">
          <div role="alert">
            <h2 class="govuk-error-summary__title">There is a problem</h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                <li><a href="#email">{{ errorMessage }}</a></li>
              </ul>
            </div>
          </div>
        </div>
      {% endif %}

      <span class="govuk-caption-l">Add and manage users</span>
      <h1 class="govuk-heading-l">Add a user</h1>

      <form action="/task-visibility-access-permissions-mvp/admin/add-user" method="post" novalidate>
        <div class="govuk-form-group {% if errorMessage %}govuk-form-group--error{% endif %}">
          <label class="govuk-label" for="email">Email address</label>
          {% if errorMessage %}
            <p class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> {{ errorMessage }}</p>
          {% endif %}
          <input class="govuk-input {% if errorMessage %}govuk-input--error{% endif %}" id="email" name="email" type="email" autocomplete="email" spellcheck="false" value="{{ data.email }}">
        </div>

        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">Continue</button>
          <a class="govuk-link" href="/task-visibility-access-permissions-mvp/admin/users">Cancel and return to users</a>
        </div>
      </form>

    </div>
  </div>
{% endblock %}
