{% extends "layouts/task-visibility-all-tasks.html" %}

{% set pageName = "Batch assign – guided steps" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "manage-allocation"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Bulk assignment</span>
    <h1 class="govuk-heading-xl">Batch assign – guided steps</h1>

    <ol class="govuk-list govuk-list--number">
      <li>Select an agent</li>
      <li>Choose task type</li>
      <li>Confirm number of tasks</li>
    </ol>

    <form action="#" method="post">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          Step 1: Choose an agent
        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="agent-fb" name="agent" type="radio" value="ferdinand-brown">
            <label class="govuk-label govuk-radios__label" for="agent-fb">Ferdinand Brown</label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="agent-pm" name="agent" type="radio" value="patricia-miles" checked>
            <label class="govuk-label govuk-radios__label" for="agent-pm">Patricia Miles</label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="agent-am" name="agent" type="radio" value="alessandra-morais">
            <label class="govuk-label govuk-radios__label" for="agent-am">Alessandra Morais</label>
          </div>
        </div>
      </fieldset>

      <fieldset class="govuk-fieldset govuk-!-margin-top-6">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          Step 2: Choose task type
        </legend>
        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="type-idv" name="task-type" type="radio" value="idv" checked>
            <label class="govuk-label govuk-radios__label" for="type-idv">GOV.UK One Login – identity verification</label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="type-dup" name="task-type" type="radio" value="duplicates">
            <label class="govuk-label govuk-radios__label" for="type-dup">Potential duplicates via API</label>
          </div>
        </div>
      </fieldset>

      <div class="govuk-form-group govuk-!-margin-top-6">
        <label class="govuk-label" for="batch-count">Step 3: Number of tasks</label>
        <input class="govuk-input govuk-input--width-5" id="batch-count" name="batch-count" type="number" min="1" value="3">
      </div>

      <button class="govuk-button" data-module="govuk-button" type="submit">Confirm and assign</button>
    </form>

  </div>
</div>

{% endblock %}
