{% extends "layouts/main.html" %}

{% set pageName = "GOV.UK One Login – identity verification" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span class="govuk-caption-l">Record management</span>
    <h1 class="govuk-heading-xl">GOV.UK One Login – identity verification</h1>

    <!-- Search -->
    <form class="govuk-!-margin-bottom-6" id="search-form">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="search">
          Search
        </label>
        <div class="govuk-hint" id="search-hint">
          Enter a name, email address or request date, for example 31 3 2025
        </div>
        <div class="govuk-input__wrapper">
          <input class="govuk-input govuk-!-width-two-thirds" id="search" name="search" type="search" aria-describedby="search-hint">
          <button class="govuk-button govuk-!-margin-bottom-0 govuk-!-margin-left-2" data-module="govuk-button" type="submit">
            Search
          </button>
        </div>
      </div>
    </form>

    <!-- Tabs -->
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">Tasks</h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#open-tasks">Open tasks</a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#completed-tasks">Completed tasks</a>
        </li>
      </ul>

      <!-- Open tasks panel -->
      <section class="govuk-tabs__panel" id="open-tasks">

        <!-- Filter bar -->
       

        <!-- Table -->
        <table class="govuk-table" data-module="moj-sortable-table" id="open-tasks-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" aria-sort="none">Name and task ID</th>
              <th scope="col" class="govuk-table__header" aria-sort="descending">Requested on</th>
              <th scope="col" class="govuk-table__header" aria-sort="none">Updated on</th>
              <th scope="col" class="govuk-table__header" aria-sort="none">Status</th>
              <th scope="col" class="govuk-table__header" aria-sort="none">Owner</th>
              <th scope="col" class="govuk-table__header">Action</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body" id="open-tasks-tbody">

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a class="govuk-link" href="task-detail">Dennis Berkamp</a><br>
                <span class="govuk-hint govuk-!-margin-top-1">TRS-0000000</span>
              </td>
              <td class="govuk-table__cell" data-sort-value="2026-03-14">14 Mar 2026</td>
              <td class="govuk-table__cell" data-sort-value="2025-12-02">2 Dec 2025</td>
              <td class="govuk-table__cell"><strong id="dennis-status-tag" class="govuk-tag govuk-tag--yellow">Not started</strong></td>
              <td class="govuk-table__cell">Unassigned</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="assign-task">Assign task</a></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a class="govuk-link" href="task-detail-theo">Theodore Bell</a><br>
                <span class="govuk-hint govuk-!-margin-top-1">TRS-0013000</span>
              </td>
              <td class="govuk-table__cell" data-sort-value="2026-02-15">15 Feb 2026</td>
              <td class="govuk-table__cell" data-sort-value="2025-12-02">2 Dec 2025</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">In progress</strong></td>
              <td class="govuk-table__cell">Ferdinand Brown</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="#">Reassign task</a></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a class="govuk-link" href="#">Mila Harrison</a><br>
                <span class="govuk-hint govuk-!-margin-top-1">TRS-0000022</span>
              </td>
              <td class="govuk-table__cell" data-sort-value="2025-02-20">20 Feb 2025</td>
              <td class="govuk-table__cell" data-sort-value="2025-12-03">3 Dec 2025</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Not started</strong></td>
              <td class="govuk-table__cell">Unassigned</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="#">Assign task</a></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a class="govuk-link" href="#">Oscar Hughes</a><br>
                <span class="govuk-hint govuk-!-margin-top-1">TRS-0000000</span>
              </td>
              <td class="govuk-table__cell" data-sort-value="2025-03-01">1 Mar 2025</td>
              <td class="govuk-table__cell" data-sort-value="2025-03-06">6 Mar 2025</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">In progress</strong></td>
              <td class="govuk-table__cell">Patricia Miles</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="#">Reassign task</a></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a class="govuk-link" href="#">Aria Davis</a><br>
                <span class="govuk-hint govuk-!-margin-top-1">TRS-0000000</span>
              </td>
              <td class="govuk-table__cell" data-sort-value="2025-03-06">6 Mar 2025</td>
              <td class="govuk-table__cell" data-sort-value="2025-11-22">22 Nov 2025</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">In progress</strong></td>
              <td class="govuk-table__cell">Patricia Miles</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="#">Reassign task</a></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a class="govuk-link" href="#">Max Robinson</a><br>
                <span class="govuk-hint govuk-!-margin-top-1">TRS-0019000</span>
              </td>
              <td class="govuk-table__cell" data-sort-value="2025-03-12">12 Mar 2025</td>
              <td class="govuk-table__cell" data-sort-value="2025-11-02">2 Nov 2025</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">In progress</strong></td>
              <td class="govuk-table__cell">Patricia Miles</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="#">Reassign task</a></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a class="govuk-link" href="#">Grace Hall</a><br>
                <span class="govuk-hint govuk-!-margin-top-1">TRS-0208880</span>
              </td>
              <td class="govuk-table__cell" data-sort-value="2025-03-18">18 Mar 2025</td>
              <td class="govuk-table__cell" data-sort-value="2025-12-01">1 Dec 2025</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">In progress</strong></td>
              <td class="govuk-table__cell">Patricia Miles</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="#">Reassign task</a></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a class="govuk-link" href="#">Layla Scott</a><br>
                <span class="govuk-hint govuk-!-margin-top-1">TRS-0203301</span>
              </td>
              <td class="govuk-table__cell" data-sort-value="2025-03-22">22 Mar 2025</td>
              <td class="govuk-table__cell" data-sort-value="2025-12-05">5 Dec 2025</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">In progress</strong></td>
              <td class="govuk-table__cell">Patricia Miles</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="#">Reassign task</a></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a class="govuk-link" href="#">Harper Mitchell</a><br>
                <span class="govuk-hint govuk-!-margin-top-1">TRS-0004389</span>
              </td>
              <td class="govuk-table__cell" data-sort-value="2025-03-28">28 Mar 2025</td>
              <td class="govuk-table__cell" data-sort-value="2025-12-10">10 Dec 2025</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Not started</strong></td>
              <td class="govuk-table__cell">Unassigned</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="#">Assign task</a></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a class="govuk-link" href="#">Ella Green</a><br>
                <span class="govuk-hint govuk-!-margin-top-1">TRS-0000000</span>
              </td>
              <td class="govuk-table__cell" data-sort-value="2025-04-03">3 Apr 2025</td>
              <td class="govuk-table__cell" data-sort-value="2025-12-12">12 Dec 2025</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Not started</strong></td>
              <td class="govuk-table__cell">Patricia Miles</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="#">Reassign task</a></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a class="govuk-link" href="#">Emilie Jean Autumn</a><br>
                <span class="govuk-hint govuk-!-margin-top-1">TRS-0000000</span>
              </td>
              <td class="govuk-table__cell" data-sort-value="2025-04-08">8 Apr 2025</td>
              <td class="govuk-table__cell" data-sort-value="2025-12-15">15 Dec 2025</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">In progress</strong></td>
              <td class="govuk-table__cell">Ferdinand Brown</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="#">Reassign task</a></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a class="govuk-link" href="#">Leo Bennett</a><br>
                <span class="govuk-hint govuk-!-margin-top-1">TRS-0000000</span>
              </td>
              <td class="govuk-table__cell" data-sort-value="2025-04-14">14 Apr 2025</td>
              <td class="govuk-table__cell" data-sort-value="2025-12-18">18 Dec 2025</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">In progress</strong></td>
              <td class="govuk-table__cell">Ferdinand Brown</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="#">Reassign task</a></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a class="govuk-link" href="#">Zoe Carter</a><br>
                <span class="govuk-hint govuk-!-margin-top-1">TRS-0000000</span>
              </td>
              <td class="govuk-table__cell" data-sort-value="2025-04-20">20 Apr 2025</td>
              <td class="govuk-table__cell" data-sort-value="2025-12-20">20 Dec 2025</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Not started</strong></td>
              <td class="govuk-table__cell">Patricia Miles</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="#">Reassign task</a></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a class="govuk-link" href="#">Liam O'Reilly</a><br>
                <span class="govuk-hint govuk-!-margin-top-1">TRS-0000000</span>
              </td>
              <td class="govuk-table__cell" data-sort-value="2025-04-25">25 Apr 2025</td>
              <td class="govuk-table__cell" data-sort-value="2025-12-22">22 Dec 2025</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">In progress</strong></td>
              <td class="govuk-table__cell">Patricia Miles</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="#">Reassign task</a></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a class="govuk-link" href="#">Logan White</a><br>
                <span class="govuk-hint govuk-!-margin-top-1">TRS-0000000</span>
              </td>
              <td class="govuk-table__cell" data-sort-value="2025-05-02">2 May 2025</td>
              <td class="govuk-table__cell" data-sort-value="2026-01-03">3 Jan 2026</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Not started</strong></td>
              <td class="govuk-table__cell">Unassigned</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="#">Assign task</a></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a class="govuk-link" href="#">Nathan Brooks</a><br>
                <span class="govuk-hint govuk-!-margin-top-1">TRS-0000000</span>
              </td>
              <td class="govuk-table__cell" data-sort-value="2025-05-09">9 May 2025</td>
              <td class="govuk-table__cell" data-sort-value="2026-01-06">6 Jan 2026</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Not started</strong></td>
              <td class="govuk-table__cell">Patricia Miles</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="#">Reassign task</a></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a class="govuk-link" href="#">Charlotte Evans</a><br>
                <span class="govuk-hint govuk-!-margin-top-1">TRS-0000000</span>
              </td>
              <td class="govuk-table__cell" data-sort-value="2025-05-15">15 May 2025</td>
              <td class="govuk-table__cell" data-sort-value="2026-01-08">8 Jan 2026</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">In progress</strong></td>
              <td class="govuk-table__cell">Patricia Miles</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="#">Reassign task</a></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a class="govuk-link" href="#">Jacob Moore</a><br>
                <span class="govuk-hint govuk-!-margin-top-1">TRS-0000000</span>
              </td>
              <td class="govuk-table__cell" data-sort-value="2025-05-20">20 May 2025</td>
              <td class="govuk-table__cell" data-sort-value="2026-01-10">10 Jan 2026</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">In progress</strong></td>
              <td class="govuk-table__cell">Maurice Villard</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="#">Reassign task</a></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a class="govuk-link" href="#">Chloe Ahmed</a><br>
                <span class="govuk-hint govuk-!-margin-top-1">TRS-0000000</span>
              </td>
              <td class="govuk-table__cell" data-sort-value="2025-05-27">27 May 2025</td>
              <td class="govuk-table__cell" data-sort-value="2026-01-13">13 Jan 2026</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">In progress</strong></td>
              <td class="govuk-table__cell">Maurice Villard</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="#">Reassign task</a></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a class="govuk-link" href="#">Bruni Guimaraes</a><br>
                <span class="govuk-hint govuk-!-margin-top-1">TRS-0000000</span>
              </td>
              <td class="govuk-table__cell" data-sort-value="2025-06-03">3 Jun 2025</td>
              <td class="govuk-table__cell" data-sort-value="2026-01-15">15 Jan 2026</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">In progress</strong></td>
              <td class="govuk-table__cell">Patricia Miles</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="#">Reassign task</a></td>
            </tr>

          </tbody>
        </table>

        <!-- No results message (hidden by default) -->
        <p class="govuk-body" id="no-results-message" style="display:none;">
          No tasks match your search or filters.
        </p>

        <!-- Pagination -->
        <nav class="govuk-pagination" role="navigation" aria-label="results" id="pagination-nav">
          <ul class="govuk-pagination__list">
            <li class="govuk-pagination__item govuk-pagination__item--current">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">1</a>
            </li>
            <li class="govuk-pagination__item">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">2</a>
            </li>
            <li class="govuk-pagination__item">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">3</a>
            </li>
            <li class="govuk-pagination__item govuk-pagination__item--next">
              <a class="govuk-link govuk-pagination__link govuk-pagination__link--next" href="#" aria-label="Next page">
                <span aria-hidden="true">Next</span>
                <span class="govuk-visually-hidden"> page</span>
              </a>
            </li>
          </ul>
        </nav>

      </section>

      <!-- Completed tasks panel -->
      <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="completed-tasks">
        <h2 class="govuk-heading-m">Completed tasks</h2>
        <p class="govuk-body">There are no completed tasks to display.</p>
      </section>

    </div>
  </div>
</div>

<style>
  .trs-task-filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0 24px;
  }

  .trs-task-filters .govuk-checkboxes__item {
    margin-bottom: 0;
  }

  .trs-task-filters__clear {
    padding-top: 2px;
  }

</style>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var tag = document.getElementById('dennis-status-tag');
    if (tag) {
      // Always start with "Not started" unless user has saved changes from task detail page
      var savedStatus = sessionStorage.getItem('trs-dennis-status');
      
      if (savedStatus === 'in-progress') {
        tag.className = 'govuk-tag govuk-tag--blue';
        tag.textContent = 'In progress';
      } else {
        // Ensure it's always "Not started" by default
        tag.className = 'govuk-tag govuk-tag--yellow';
        tag.textContent = 'Not started';
      }
    }
  });
</script>

{% endblock %}
