{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

   

    <h1 class="govuk-heading-xl">
    TRS console post-MVP prototype
    </h1>

    <h2 class="govuk-heading-l">Main screen index</h2>
    
    <h3 class="govuk-heading-m"></h3>


             <table class="govuk-table">
      <caption class="govuk-table__caption govuk-caption-xl">Change history - create change history for missing events</caption>
       <caption class="govuk-table__caption govuk-caption-s">October 2025</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
           <th scope="col" class="govuk-table__header" width="15%">Link</th>
          <th scope="col" class="govuk-table__header" width="25%">Status</th>
          <th scope="col" class="govuk-table__header">Changelog</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
             <a href="change-history/_screen-index">Full screen index</a>
             
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-tag govuk-tag--green">
            Designs completed
            </span>
         
          </td>
          <td class="govuk-table__cell">
            <p>
             Creating a basic structure for events that currently don’t show in the change history ahead of holistic work.
          </p>
          <p>
          Events included </p>
    <ul class="govuk-list govuk-list--bullet">
          <li>PII migration</li>
          <li>DQT Pull</li>
          <li>Change requests</li>
          <li>Deactivated record via Teachers' Pensions duplicate resolve</li>
        </ul>
        
        <div class="govuk-inset-text">
              <i>
             October 2025
            </i> 
            <br><br>
          Designs completed
            </div>
          </td>
        </tr>

        
       
     
        </tbody>
        </table>



         <table class="govuk-table">
      <caption class="govuk-table__caption govuk-caption-xl">Duplicate rechecks</caption>
       <caption class="govuk-table__caption govuk-caption-s">September 2025</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
           <th scope="col" class="govuk-table__header" width="15%">Link</th>
          <th scope="col" class="govuk-table__header" width="25%">Status</th>
          <th scope="col" class="govuk-table__header">Changelog</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
             <a href="duplicate-rechecks/scenario1.html">Scenario 1</a>
             <br>
              <a href="duplicate-rechecks/scenario2.html">Scenario 2</a>
              
              <a href="https://lucid.app/lucidspark/3aa44510-7286-410f-8736-231f4f631852/edit?invitationId=inv_abe68b84-a4fc-464f-b743-af6c1f8f88f4&page=0_0#" target="blank">Lucid board</a>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-tag govuk-tag--green">
           Designs completed
            </span>
         
          </td>
          <td class="govuk-table__cell">
            <p>As part of the Resolve Duplicate’s journey, a rechecking of potential matches is performed when the 
              task has been picked up by the support team. This results in 1) the match no longer existing, or 2) a new match being found as an exact match.
<br>
              <br>
              Old designs for reference
              <br>
              <a href="duplicate-rechecks/_old/scenario1">Scenario 1 old</a>
              <br>
              <a href="duplicate-rechecks/_old/scenario2">Scenario 2 old</a>
              <br><br>
               Rejected designs
              <br>
              <a href="duplicate-rechecks/scenario1-warning">Scenario 1 with warning</a>
              <br>
              <a href="duplicate-rechecks/scenario2-warning">Scenario 2 with warning</a>
</p>

            <div class="govuk-inset-text">
              <i>
             October 2025
            </i> 
            <br><br>
          Designs completed.
            </div>
          </td>
        </tr>
       
     
        </tbody>
        </table>



                 <table class="govuk-table">
      <caption class="govuk-table__caption govuk-caption-xl">Quick fix: Misalignment on duplicate cards</caption>
       <caption class="govuk-table__caption govuk-caption-s">September 2025</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
           <th scope="col" class="govuk-table__header" width="15%">Link</th>
          <th scope="col" class="govuk-table__header" width="25%">Status</th>
          <th scope="col" class="govuk-table__header">Changelog</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
             <a href="duplicate-cards/compare1.html">Finalised design</a>
             <br><br>
              <a href="https://lucid.app/lucidspark/c7386781-30da-4cf0-b838-b332e1b3d4af/edit?viewport_loc=54488%2C-819%2C12000%2C5838%2C0_0&invitationId=inv_9a478d2b-abe9-4dbe-854c-ccafce88b37a" target="blank">Lucid board</a>
              <br>
              <br>
              <a href="duplicate-cards/compare2.html">Rejected alternative 1</a>
              <br>
               <a href="duplicate-cards/compare3.html">Rejected alternative 2</a>
               <br>
             
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-tag govuk-tag--green">
           Designs completed
            </span>
         
          </td>
          <td class="govuk-table__cell">
            <p>In the duplicates 'compare' screen, there is a design inconsistency when one of the affected records/requests does not have a status tag.
              <br>
              UCD proposed a few different solutions and after walking through it with dev, we decided on new standard text as placeholder should a tag not be present on one of the records.
              <br>
             
</p>

            <div class="govuk-inset-text">
              <i>
             September 2025
            </i> 
            <br><br>
          Designs completed.
            </div>
          </td>
        </tr>
       
     
        </tbody>
        </table>


    
         <table class="govuk-table">
      <caption class="govuk-table__caption govuk-caption-xl">ITR revisions</caption>
       <caption class="govuk-table__caption govuk-caption-s">August 2025</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
           <th scope="col" class="govuk-table__header" width="15%">Link</th>
          <th scope="col" class="govuk-table__header" width="25%">Status</th>
          <th scope="col" class="govuk-table__header">Changelog</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
             <a href="itr-revisions/_screen-index">Field level failures</a>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-tag govuk-tag--green">
            Designs completed
            </span>
         
          </td>
          <td class="govuk-table__cell">
            <p>Revisions for additional requirements for ITRs.</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>Add 'warning' label for field level failures</li>
                <li>Revise all subpages to include new label</li>
                <li>Changes to Row details sub pages to include links to records</li>
              </ul>

            <div class="govuk-inset-text">
              <i>
             August 2025
            </i> 
            <br><br>
           Completed
            </div>
          </td>
        </tr>
         <tr class="govuk-table__row">
          <td class="govuk-table__cell">
             <a href="itr-duplicates/_screen-index">ITR duplicates</a>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-tag govuk-tag--green">
            Designs completed
            </span>
         
          </td>
          <td class="govuk-table__cell">
            <p>Addition of a duplicate journey for duplicates triggered via ITRs/Teachers' Pensions.<br>
            This solution was created to enable users to resolve duplicates as it previously had to be done manually as duplicates through ITRs did not surface in any of the other support task tiles.</p>

            <div class="govuk-inset-text">
              <i>
             August 2025
            </i> 
            <br><br>
           Completed
            </div>
          </td>
        </tr>
     
        </tbody>
        </table>
    
      <table class="govuk-table">
      <caption class="govuk-table__caption govuk-caption-xl">Search results and records overview redesign</caption>
       <caption class="govuk-table__caption govuk-caption-s">Start date: 28 July 2025</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
           <th scope="col" class="govuk-table__header" width="15%">Link</th>
          <th scope="col" class="govuk-table__header" width="25%">Status</th>
          <th scope="col" class="govuk-table__header">Changelog</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
             <a href="search-results/_screen-index">Iteration 1</a>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-tag govuk-tag--yellow">
            On hold pending roadmap
            </span>
         
          </td>
          <td class="govuk-table__cell">
            <p>UCD-led redesign of the search results on the TRS console to follow user needs more closely. 
              We have also identified several missing screens for scenarios relating to the record overview which we will include in this redesign as they are intrinsically linked.</p>

            <div class="govuk-inset-text">
              <i>
             15 August 2025
            </i> 
            <br><br>
            Initial designs drafted, ready for first round of UR.
            </div>
          </td>
        </tr>
     
        </tbody>
        </table>


    
  </div>
</div>

{% endblock %}
