{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

   

    <h1 class="govuk-heading-xl">
    TRS console post-MVP prototype
    </h1>

    <h2 class="govuk-heading-l">Main screen index</h2>
    
    <h3 class="govuk-heading-m"></h3>
    
      <table class="govuk-table">
      <caption class="govuk-table__caption govuk-caption-xl">Search results and records overview redesign</caption>
       <caption class="govuk-table__caption govuk-caption-s">28 July 2025</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
           <th scope="col" class="govuk-table__header" width="15%">Link</th>
          <th scope="col" class="govuk-table__header" width="25%">Status</th>
          <th scope="col" class="govuk-table__header">Changelog</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
             <a href="search-results/_screen-index">Iteration 1</a>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-tag govuk-tag--light-blue">
            Design in progress
            </span>
         
          </td>
          <td class="govuk-table__cell">
            <p>UCD-led redesign of the search results on the TRS console to follow user needs more closely. 
              We have also identified several missing screens for scenarios relating to the record overview which we will include in this redesign as they are intrinsically linked.</p>

            <div class="govuk-inset-text">
            <i>
              29 July 2025
            </i> 
            <br><br>
            Designs in preparation stage, awaiting UCD kick-off.
            </div>


          </td>
        </tr>
     
        </tbody>
        </table>
    
  </div>
</div>

{% endblock %}
